@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap");

* {
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    z-index: 1;
}

body {
    height: 100%;
    background-image: url("images/background.jpg");
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1)
    );
    height: 90vh;
    width: 65vw;
    border-radius: 2rem;
    backdrop-filter: blur(20px);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.01);
    border-bottom: 2px solid rgba(255, 255, 255, 0.01);
}

img {
    display: block;
    width: 20%;
    margin: 0px auto 0px auto;
    padding-top: 40px;
}

.img-clicked {
    display: flex;
    width: 40%;
    margin: 0px auto 0px auto;
    padding-top: 0px;
}

h1,
p {
    font-family: "Nunito", sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h1 {
    font-size: 8vw;
    font-weight: 800;
    padding-top: 30px;
}

p {
    font-size: 6vw;
    font-weight: 600;
    padding-top: 10px;
}

h2 {
    visibility: hidden;
}

@media screen and (orientation: portrait) {
    h2 {
        visibility: visible;
        font-size: 4vw;
        padding-top: 20vh;
        text-align: center;
        font-family: "Nunito", sans-serif;
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}
